<html>
<head>
    <title>Patch Robot</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Patches list</h2>
{% if issue_list %}
    {% for issue in issue_list %}
        <h3>Patch series {{ issue.id }}</h3>
        {% for patch in issue.patch_set.all %}
            <p>
            patch name: <a href="{{ patch.id }}">{{ patch.subject }}</a>
            </p>
            <table class="patchlist">
            <tr><th></th>
            <th><a class="colinactive" href="list?order=patch">Patch</a></th>   <th><a class="colinactive" href="list?order=date">Date</a></th>   <th><a class="colinactive" href="list?order=submitter">Submitter</a></th>   <th><a class="colinactive" href="list?order=state">State</a></th>  <th>&nbsp;</th></tr>
            {% for message in patch.message_set.all %}
             <tr class="{% cycle 'even' 'odd' %}">
              <td></td>
              <td>{{ message.subject }}</a></td>

              <td>{{ message.date }}</td>
              <td>{{ message.sender }}</td>
              <td>New</td>
              <td></td>
             </tr>
            {% endfor %}
            </table>

        {% endfor %}
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

  <div id="footer">
   <a href="http://github.com/certik/patchrobot/">patchrobot</a>
   patch tracking system
  </div>
</body>
</html>
