<h2>Patches list</h2>
{% if issue_list %}
    {% for issue in issue_list %}
        <h3>id:{{ issue.id }}</h3>
        {% for patch in issue.patch_set.all %}
            <p>
            id:{{ patch.id }} name: {{ patch.subject }}
            </p>
            <ul>
            {% for message in patch.message_set.all %}
                <li>from:{{ message.sender }} subject:{{ message.subject }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

